{% extends "website/base.html" %}
{% block title %}The Dance Place LTD | Dance Classes in Waterford, Michigan{% endblock %}
{% block meta_description %}Find your place to dance at The Dance Place LTD in Waterford, Michigan. Recreational and accelerated programs, experienced instructors, performance opportunities and classes for every stage.{% endblock %}
{% block content %}
    {% include "website/includes/hero.html" %}
    {% include "website/includes/feature_strip.html" %}
    {% include "website/includes/classes_preview.html" %}
    {% include "website/includes/community.html" %}
    {% include "website/includes/about_preview.html" %}
    {% include "website/includes/register_cta.html" %}
{% endblock %}
